# Second notebook 
## Importing cleaned CSV, continue cleaning and export to SQL
- Focus: sales

In [1]:
# import libraries
import pandas as pd
import numpy as np
import glob
import os
from tqdm.notebook import tqdm
import mysql.connector
import getpass 
from sqlalchemy import create_engine

In [109]:
# import saved CSV
data = pd.read_csv('ventas_completo.csv')

<timed exec>:1: DtypeWarning: Columns (17,25) have mixed types. Specify dtype option on import or set low_memory=False.

CPU times: total: 3.03 s
Wall time: 10.7 s

In [110]:
data.dtypes

clase           object
almacen         object
ejercicio      float64
mes            float64
dia            float64
hora           float64
tipo_pago       object
vendedor       float64
seccion         object
talla           object
modelo          object
color           object
producto       float64
descripcion     object
ngrupo          object
nsubgrupo       object
linea           object
marca           object
lista           object
cantidad       float64
descuento      float64
subtotal       float64
iva            float64
total          float64
costo          float64
prov1           object
usr1            object
dtype: object

In [111]:
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

In [112]:
data = data.dropna(axis = 0, thresh = 20)

In [113]:
#Check values and human errors
# data['talla'].value_counts()
# data['prov1'].value_counts()

In [114]:
# replace specific values that have not been changed due to the human mistakes when filling the ERP.

data.prov1 = data.prov1.replace([37.0,102.0,8.0,210.0,190.0,'#N/A!',1.0,14.0,20.0,27.0,'}0144',165.0,2.0,123.0,
                                   191.0,163.0,179.0, 189.0,4.0,169.0,126.0, 29.0,15.0,183.0,129.0,
                                  168.0,130.0,173.0,182.0,'008',119.0,35.0,28.0,144.0,141.0,3.0,112.0,
                                  76.0,158.0,49.0,194.0,142.0,22.0,32.0,196.0,16.0,178.0,53.0,30.0,
                                  21.0,18.0,33.0], 
                                ['0037','0102','0008', '0210', '0190', 'Other', '0001','0014', '0020', '0027', '0144', '0165', '0002','0123',
                                   '0191','0163', '0179', '0189' , '0004', '0169', '0126', '0029','0015', '0183', '0129',
                                  '0168', '0130', '0173', '0182', '0008', '0119', '0035','0028','0144', '0141', '0003','0112',
                                  '0076', '0158', '0049','0194','0142','0022', '0032', '0196', '0016', '0178', '0053', '0030',
                                  '0021','0018','0033'])

In [115]:
# Fill NaN
data['talla'] = data['talla'].fillna('T- UNITALLA')
data['modelo'] = data['modelo'].fillna('ALGODÓN')
data['color'] = data['color'].fillna('SURTIDO')
data['nsubgrupo'] = data['nsubgrupo'].fillna('LINEA')
data['lista'] = data['lista'].fillna('AGUASCALIENTES')
data['descuento'] = data['descuento'].fillna(0)
data['prov1'] = data['prov1'].fillna('Other')
data['usr1'] = data['usr1'].fillna('Other')

In [116]:
data.isna().sum()

clase               0
almacen             0
ejercicio           0
mes                 0
dia                 0
hora                0
tipo_pago           0
vendedor            0
seccion             0
talla               0
modelo              0
color               0
producto            0
descripcion         0
ngrupo              0
nsubgrupo           0
linea               0
marca               0
lista               0
cantidad            0
descuento           0
subtotal            0
iva                 0
total               0
costo          883597
prov1               0
usr1                0
dtype: int64

In [117]:
# Checking for NaN in usr1
# pd.set_option('display.max_colwidth', None)
# data.loc[220:250]
# data[data['usr1'].isna()==True].head()

In [118]:
# rename column names to more descriptive ones for easier identification 

data = data.rename(columns={'ngrupo': 'grupo', 'nsubgrupo': 'subgrupo', 'prov1':'proveedor', 'usr1':'detalle'})

In [119]:
# reset index

data = data.reset_index(drop=True)

In [120]:
# view different sets of data to observe better the changes 

data.head(747)

,clase,almacen,ejercicio,mes,dia,hora,tipo_pago,vendedor,seccion,talla,modelo,color,producto,descripcion,grupo,subgrupo,linea,marca,lista,cantidad,descuento,subtotal,iva,total,costo,proveedor,detalle
0,VENTA,T012,2021.0,4.0,14.0,13.0,EF,406.0,UNISEX,T- CHICA,TELA,SURTIDO,3.0,ALMOHADA SIN MARCA BEBE SURTIDO UNISEX T- CHIC...,ALMOHADA,LINEA,BEBE,0.0,AGUASCALIENTES,1.0,0.0,25.86,4.14,30.0,NaN,0008,ESTAMPADA C/OLAN S/BOLSA
1,VENTA,T013,2021.0,4.0,10.0,17.0,EF,463.0,UNISEX,T- CHICA,TELA,SURTIDO,3.0,ALMOHADA SIN MARCA BEBE SURTIDO UNISEX T- CHIC...,ALMOHADA,LINEA,BEBE,0.0,AGUASCALIENTES,1.0,0.0,25.86,4.14,30.0,NaN,0008,ESTAMPADA C/OLAN S/BOLSA
2,VENTA,T003,2021.0,4.0,3.0,15.0,EF,461.0,UNISEX,T- UNITALLA,VELOUR,SURTIDO,5.0,ALMOHADA T- UNITALLA LINEA SURTIDO BEBE ESTA...,ALMOHADA,LINEA,BEBE,26.0,AGUASCALIENTES,1.0,0.0,41.38,6.62,48.0,NaN,0129,ESTAMPADA C/BOLSA
3,VENTA,T003,2021.0,4.0,4.0,17.0,EF,458.0,UNISEX,T- UNITALLA,VELOUR,SURTIDO,5.0,ALMOHADA T- UNITALLA LINEA SURTIDO BEBE ESTA...,ALMOHADA,LINEA,BEBE,26.0,DISTRIBUIDOR,1.0,0.0,36.21,5.79,42.0,NaN,0129,ESTAMPADA C/BOLSA
4,VENTA,T003,2021.0,4.0,10.0,16.0,EF,461.0,UNISEX,T- UNITALLA,VELOUR,SURTIDO,5.0,ALMOHADA T- UNITALLA LINEA SURTIDO BEBE ESTA...,ALMOHADA,LINEA,BEBE,26.0,AGUASCALIENTES,1.0,0.0,41.38,6.62,48.0,NaN,0129,ESTAMPADA C/BOLSA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
742,VENTA,T003,2021.0,4.0,10.0,16.0,EF,131.0,VERANO,T- UNITALLA,ALGODÓN,SURTIDO,98.0,BATA T- UNITALLA LINEA SURTIDO BEBE C/VALERI...,BATA,LINEA,BEBE,371.0,AGUASCALIENTES,1.0,0.0,99.14,15.86,115.0,NaN,0008,C/VALERINA
743,VENTA,T003,2021.0,4.0,13.0,11.0,EF,461.0,VERANO,T- UNITALLA,ALGODÓN,SURTIDO,98.0,BATA T- UNITALLA LINEA SURTIDO BEBE C/VALERI...,BATA,LINEA,BEBE,371.0,AGUASCALIENTES,1.0,0.0,99.14,15.86,115.0,NaN,0008,C/VALERINA
744,VENTA,T006,2021.0,4.0,1.0,11.0,EF,112.0,VERANO,T- UNITALLA,ALGODÓN,SURTIDO,98.0,BATA T- UNITALLA LINEA SURTIDO BEBE C/VALERI...,BATA,LINEA,BEBE,371.0,AGUASCALIENTES,1.0,0.0,99.14,15.86,115.0,NaN,0008,C/VALERINA
745,VENTA,T006,2021.0,4.0,1.0,13.0,EF,112.0,VERANO,T- UNITALLA,ALGODÓN,SURTIDO,98.0,BATA T- UNITALLA LINEA SURTIDO BEBE C/VALERI...,BATA,LINEA,BEBE,371.0,AGUASCALIENTES,1.0,0.0,99.14,15.86,115.0,NaN,0008,C/VALERINA
746,VENTA,T006,2021.0,4.0,3.0,15.0,EF,112.0,VERANO,T- UNITALLA,ALGODÓN,SURTIDO,98.0,BATA T- UNITALLA LINEA SURTIDO BEBE C/VALERI...,BATA,LINEA,BEBE,371.0,AGUASCALIENTES,1.0,0.0,99.14,15.86,115.0,NaN,0008,C/VALERINA

In [121]:
# check the stores/warehouses total amount of appearences from all the products
data['almacen'].value_counts()

T003    221554
T007    160138
T015    150026
T016    150025
T006    110709
T008     87975
T013     87943
T011     86275
T019     66433
T017     56448
T014     53577
T012     50096
T018     49250
T005     45856
T020     32730
T009     32010
T010     24438
T002     22029
T021     20035
T001     17716
T022     14597
T004      5236
Name: almacen, dtype: int64

In [122]:
# I noted there was an additional "clase" identified as a "cancelación" which generates negative products and messes up the counts.

data[data.eq("NENUCO").any(1)]

,clase,almacen,ejercicio,mes,dia,hora,tipo_pago,vendedor,seccion,talla,modelo,color,producto,descripcion,grupo,subgrupo,linea,marca,lista,cantidad,descuento,subtotal,iva,total,costo,proveedor,detalle
13640,VENTA,T006,2021.0,4.0,8.0,13.0,EF,186.0,UNISEX,T- UNITALLA,PLASTICO,SURTIDO,1073.0,NENUCO T- UNITALLA LINEA SURTIDO BEBE BEBE ...,NENUCO,LINEA,BEBE,0.0,AGUASCALIENTES,1.0,0.0,257.76,41.24,299.0,NaN,Other,BEBE
13641,VENTA,T006,2021.0,4.0,14.0,13.0,EF,112.0,UNISEX,T- UNITALLA,PLASTICO,SURTIDO,1073.0,NENUCO T- UNITALLA LINEA SURTIDO BEBE BEBE ...,NENUCO,LINEA,BEBE,0.0,AGUASCALIENTES,1.0,0.0,257.76,41.24,299.0,NaN,Other,BEBE
46459,CANCELACION,T020,2021.0,4.0,27.0,14.0,EF,451.0,UNISEX,T- UNITALLA,PLASTICO,SURTIDO,1073.0,NENUCO T- UNITALLA LINEA SURTIDO BEBE BEBE ...,NENUCO,LINEA,BEBE,0.0,AGUASCALIENTES,-1.0,0.0,-299.00,0.00,-299.0,-177.4529,Other,BEBE
46460,VENTA,T001,2021.0,4.0,24.0,9.0,EF,153.0,UNISEX,T- UNITALLA,PLASTICO,SURTIDO,1073.0,NENUCO T- UNITALLA LINEA SURTIDO BEBE BEBE ...,NENUCO,LINEA,BEBE,0.0,MAYOREO,4.0,120.0,862.07,137.93,1000.0,NaN,Other,BEBE
46461,VENTA,T006,2021.0,4.0,29.0,13.0,EF,112.0,UNISEX,T- UNITALLA,PLASTICO,SURTIDO,1073.0,NENUCO T- UNITALLA LINEA SURTIDO BEBE BEBE ...,NENUCO,LINEA,BEBE,0.0,AGUASCALIENTES,1.0,0.0,257.76,41.24,299.0,NaN,Other,BEBE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1488039,VENTA,T006,2022.0,9.0,5.0,10.0,EF,489.0,UNISEX,T- UNITALLA,PLASTICO,SURTIDO,1073.0,NENUCO T- UNITALLA LINEA SURTIDO BEBE BEBE ...,NENUCO,LINEA,BEBE,00,AGUASCALIENTES,1.0,0.0,324.14,51.86,376.0,178.6838,Other,BEBE
1488040,VENTA,T006,2022.0,9.0,12.0,13.0,EF,489.0,UNISEX,T- UNITALLA,PLASTICO,SURTIDO,1073.0,NENUCO T- UNITALLA LINEA SURTIDO BEBE BEBE ...,NENUCO,LINEA,BEBE,00,AGUASCALIENTES,1.0,0.0,324.14,51.86,376.0,178.6838,Other,BEBE
1488041,VENTA,T006,2022.0,9.0,14.0,12.0,EF,112.0,UNISEX,T- UNITALLA,PLASTICO,SURTIDO,1073.0,NENUCO T- UNITALLA LINEA SURTIDO BEBE BEBE ...,NENUCO,LINEA,BEBE,00,AGUASCALIENTES,1.0,0.0,324.14,51.86,376.0,178.6838,Other,BEBE
1522261,VENTA,T006,2022.0,9.0,20.0,18.0,EF,112.0,UNISEX,T- UNITALLA,PLASTICO,SURTIDO,1073.0,NENUCO T- UNITALLA LINEA SURTIDO BEBE BEBE ...,NENUCO,LINEA,BEBE,00,AGUASCALIENTES,1.0,0.0,324.14,51.86,376.0,178.6838,Other,BEBE
1522262,VENTA,T010,2022.0,9.0,26.0,18.0,EF,519.0,UNISEX,T- UNITALLA,PLASTICO,SURTIDO,1073.0,NENUCO T- UNITALLA LINEA SURTIDO BEBE BEBE ...,NENUCO,LINEA,BEBE,00,AGUASCALIENTES,1.0,0.0,324.14,51.86,376.0,178.7733,Other,BEBE

### Start working with the warehouse DF

In [ ]:
# read saved document
costs = pd.read_csv('existencias_completo.csv')

In [46]:
# check count for 'almacen'
costs['ALMACEN'].value_counts(dropna=False)

T003    52216
T007    51753
AURA    40883
T019    40791
T011    30793
T008    30202
T012    29051
T013    27910
T015    27601
T006    26783
T016    26729
T005    24346
T014    24310
T002    23467
T017    23118
T001    22998
T018    22520
T022    21515
T020    18334
TRA     17535
T021    12668
T010    11373
T009    10477
APA      6288
T004     4838
Name: ALMACEN, dtype: int64

In [27]:
# delete the 'almacen' that has no value where the name does not exist
costs = costs[~costs['NALMACEN'].isna()]

In [29]:
# reset index
costs = costs.reset_index(drop=True)

In [40]:
# check the amount of unique products that exist
costs['PRODUCTO'].nunique()
# pd.set_option('display.max_rows', None)

4215

In [49]:
# check duplicates 
costs.duplicated().sum()

415533

In [50]:
# check shape
costs.shape

(628499, 20)

In [51]:
# drop duplicates 
costs = costs.drop_duplicates()

In [61]:
# standarize columns

def column_change(df):
    cols = []
    for column in range(len(df.columns)):
        cols.append(df.columns[column].lower().replace(' ', '_'))
    df.columns = cols
    return

column_change(costs)

In [63]:
# reset index and sort by product 

costs = costs.reset_index(drop=True)
costs.sort_values(by='producto').head(2)

,almacen,nalmacen,producto,descripcion,giro,seccion,grupo,subgrupo,linea,prov1,nprov1,costo_base,precio_1,precio_2,dias_ultima_venta,venta_neta,existencia_actual,costo_unitario,artista,titulo
174923,T013,ALLENDE,1.0,CACHUCHA T- UNITALLA LINEA SURTIDO BEBE ESPA...,0.0,UNISEX,CACHUCHA,LINEA,1.0,0008,ENRIQUE MEJIA TREJO,11.49425,19.82759,18.10345,149.0,1,0,0.0000,ESPAÑOLA,NaN
169848,T002,MORELOS VILLA,1.0,CACHUCHA T- UNITALLA LINEA SURTIDO BEBE ESPA...,0.0,UNISEX,CACHUCHA,LINEA,1.0,0008,ENRIQUE MEJIA TREJO,11.49425,19.82759,18.10345,150.0,1,4,11.4942,ESPAÑOLA,NaN

In [67]:
# Checking the relationship between products and costs, because not all values where given and it is important to fill the price
# and cost for each one, I´m identifying what is actually given in the ERP

costs[costs["producto"] == 35]
# costo_base is not the average of the cost; rather just one random used 
costs[costs["producto"] == 354]
# or no clear visual of how it was calculated; as there are values marked as 0 in costo_unitario;
# I will use costo_base as the cost, but will inform the client about this.

,almacen,nalmacen,producto,descripcion,giro,seccion,grupo,subgrupo,linea,prov1,nprov1,costo_base,precio_1,precio_2,dias_ultima_venta,venta_neta,existencia_actual,costo_unitario,artista,titulo
4515,T003,5 DE MAYO,354.0,PLAYERA 14/16 LINEA BLANCO JUVENIL ESCOLAR C...,0.0,MASCULINO,PLAYERA,LINEA,4.0,0102,LUIS ENRIQUE,47.84,68.96552,66.37931,5.0,0,1,41.2414,ESCOLAR C/SPORT,NaN
8068,T006,VERSALLES,354.0,PLAYERA 14/16 LINEA BLANCO JUVENIL ESCOLAR C...,0.0,MASCULINO,PLAYERA,LINEA,4.0,0102,LUIS ENRIQUE,47.84,68.96552,66.37931,14.0,0,2,41.2414,ESCOLAR C/SPORT,NaN
9483,T007,TIENDA 412,354.0,PLAYERA 14/16 LINEA BLANCO JUVENIL ESCOLAR C...,0.0,MASCULINO,PLAYERA,LINEA,4.0,0102,LUIS ENRIQUE,47.84,68.96552,66.37931,21.0,0,3,41.2414,ESCOLAR C/SPORT,NaN
31925,T007,TIENDA 412,354.0,PLAYERA 14/16 LINEA BLANCO JUVENIL ESCOLAR C...,0.0,MASCULINO,PLAYERA,LINEA,4.0,0102,LUIS ENRIQUE,47.84,68.96552,66.37931,0.0,0,2,41.2414,ESCOLAR C/SPORT,NaN
45955,T011,ESPACIO,354.0,PLAYERA 14/16 LINEA BLANCO JUVENIL ESCOLAR C...,0.0,MASCULINO,PLAYERA,LINEA,4.0,0102,LUIS ENRIQUE,47.84,68.96552,66.37931,325.0,1,0,0.0000,ESCOLAR C/SPORT,NaN
48187,T014,VILLASUNCION 2,354.0,PLAYERA 14/16 LINEA BLANCO JUVENIL ESCOLAR C...,0.0,MASCULINO,PLAYERA,LINEA,4.0,0102,LUIS ENRIQUE,47.84,68.96552,66.37931,311.0,1,0,0.0000,ESCOLAR C/SPORT,NaN
112120,T003,5 DE MAYO,354.0,PLAYERA 14/16 LINEA BLANCO JUVENIL ESCOLAR C...,0.0,MASCULINO,PLAYERA,LINEA,4.0,0102,LUIS ENRIQUE,47.84,68.96552,66.37931,6.0,0,1,41.2414,ESCOLAR C/SPORT,NaN
115500,T006,VERSALLES,354.0,PLAYERA 14/16 LINEA BLANCO JUVENIL ESCOLAR C...,0.0,MASCULINO,PLAYERA,LINEA,4.0,0102,LUIS ENRIQUE,47.84,68.96552,66.37931,15.0,0,2,41.2414,ESCOLAR C/SPORT,NaN
116801,T007,TIENDA 412,354.0,PLAYERA 14/16 LINEA BLANCO JUVENIL ESCOLAR C...,0.0,MASCULINO,PLAYERA,LINEA,4.0,0102,LUIS ENRIQUE,47.84,68.96552,66.37931,1.0,0,2,41.2414,ESCOLAR C/SPORT,NaN
135327,T003,5 DE MAYO,354.0,PLAYERA 14/16 LINEA BLANCO JUVENIL ESCOLAR C...,0.0,MASCULINO,PLAYERA,LINEA,4.0,0102,LUIS ENRIQUE,47.84,68.96552,66.37931,6.0,4,1,41.2414,ESCOLAR C/SPORT,NaN
137297,T006,VERSALLES,354.0,PLAYERA 14/16 LINEA BLANCO JUVENIL ESCOLAR C...,0.0,MASCULINO,PLAYERA,LINEA,4.0,0102,LUIS ENRIQUE,47.84,68.96552,66.37931,15.0,6,2,41.2414,ESCOLAR C/SPORT,NaN
138108,T007,TIENDA 412,354.0,PLAYERA 14/16 LINEA BLANCO JUVENIL ESCOLAR C...,0.0,MASCULINO,PLAYERA,LINEA,4.0,0102,LUIS ENRIQUE,47.84,68.96552,66.37931,1.0,1,2,41.2414,ESCOLAR C/SPORT,NaN
160993,T006,VERSALLES,354.0,PLAYERA 14/16 LINEA BLANCO JUVENIL ESCOLAR C...,0.0,MASCULINO,PLAYERA,LINEA,4.0,0102,LUIS ENRIQUE,47.84,68.96552,66.37931,15.0,1,2,41.2414,ESCOLAR C/SPORT,NaN
194505,T003,5 DE MAYO,354.0,PLAYERA 14/16 LINEA BLANCO JUVENIL ESCOLAR C...,0.0,MASCULINO,PLAYERA,LINEA,4.0,0102,LUIS ENRIQUE,47.84,68.96552,66.37931,6.0,3,1,41.2414,ESCOLAR C/SPORT,NaN
195918,T006,VERSALLES,354.0,PLAYERA 14/16 LINEA BLANCO JUVENIL ESCOLAR C...,0.0,MASCULINO,PLAYERA,LINEA,4.0,0102,LUIS ENRIQUE,47.84,68.96552,66.37931,15.0,2,2,41.2414,ESCOLAR C/SPORT,NaN
196567,T007,TIENDA 412,354.0,PLAYERA 14/16 LINEA BLANCO JUVENIL ESCOLAR C...,0.0,MASCULINO,PLAYERA,LINEA,4.0,0102,LUIS ENRIQUE,47.84,68.96552,66.37931,1.0,3,2,41.2414,ESCOLAR C/SPORT,NaN
205015,T003,5 DE MAYO,354.0,PLAYERA 14/16 LINEA BLANCO JUVENIL ESCOLAR C...,0.0,MASCULINO,PLAYERA,LINEA,4.0,0102,LUIS ENRIQUE,47.84,68.96552,66.37931,6.0,2,1,41.2414,ESCOLAR C/SPORT,NaN
206713,T007,TIENDA 412,354.0,PLAYERA 14/16 LINEA BLANCO JUVENIL ESCOLAR C...,0.0,MASCULINO,PLAYERA,LINEA,4.0,0102,LUIS ENRIQUE,47.84,68.96552,66.37931,1.0,8,2,41.2414,ESCOLAR C/SPORT,NaN

In [48]:
# identify unique products
costs['producto'].nunique()

3978

In [68]:
# check how are they categorized to be able to deal withe them better
costs.dtypes

almacen               object
nalmacen              object
producto             float64
descripcion           object
giro                 float64
seccion               object
grupo                 object
subgrupo              object
linea                float64
prov1                 object
nprov1                object
costo_base           float64
precio_1             float64
precio_2             float64
dias_ultima_venta    float64
venta_neta             int64
existencia_actual      int64
costo_unitario       float64
artista               object
titulo                object
dtype: object

In [71]:
# due to price change per month, I decided to use the price stablished in december 2021; and for now drop all
# the extra information.
costs = costs.drop_duplicates(subset=['producto'],keep='first').reset_index(drop=True)

In [103]:
# keep only the relevant information in a new df called 'costo'
costo = costs[['producto','costo_base','precio_1','precio_2']]

In [101]:
# check the price_1 and price_2 that was given within the ERP to determine which will be used after speaking with the client
costo.head(3)

   producto  costo_base   precio_1   precio_2
0     212.0    56.03448   94.82759   90.51724
1     229.0   115.00000  172.41379  168.10345
2     230.0    94.82759  163.79310  159.48276

In [85]:
data.head(3)
data['producto'].nunique()

3978

In [93]:
# I will drop cost and send my DF to SQL to make queries for models depending on the clients needs.
venta = data.copy()
venta.head(3)

,clase,almacen,ejercicio,mes,dia,hora,tipo_pago,vendedor,seccion,talla,modelo,color,producto,descripcion,grupo,subgrupo,linea,marca,lista,cantidad,descuento,subtotal,iva,total,costo,proveedor,detalle
0,VENTA,T012,2021.0,4.0,14.0,13.0,EF,406.0,UNISEX,T- CHICA,TELA,SURTIDO,3.0,ALMOHADA SIN MARCA BEBE SURTIDO UNISEX T- CHIC...,ALMOHADA,LINEA,BEBE,0.0,AGUASCALIENTES,1.0,0.0,25.86,4.14,30.0,NaN,0008,ESTAMPADA C/OLAN S/BOLSA
1,VENTA,T013,2021.0,4.0,10.0,17.0,EF,463.0,UNISEX,T- CHICA,TELA,SURTIDO,3.0,ALMOHADA SIN MARCA BEBE SURTIDO UNISEX T- CHIC...,ALMOHADA,LINEA,BEBE,0.0,AGUASCALIENTES,1.0,0.0,25.86,4.14,30.0,NaN,0008,ESTAMPADA C/OLAN S/BOLSA
2,VENTA,T003,2021.0,4.0,3.0,15.0,EF,461.0,UNISEX,T- UNITALLA,VELOUR,SURTIDO,5.0,ALMOHADA T- UNITALLA LINEA SURTIDO BEBE ESTA...,ALMOHADA,LINEA,BEBE,26.0,AGUASCALIENTES,1.0,0.0,41.38,6.62,48.0,NaN,0129,ESTAMPADA C/BOLSA

In [94]:
# dropping 'costo' as it is not relevant in this DF and we will fill the information with the other DF
venta = venta.drop(columns=['costo'], axis=1)
venta

,clase,almacen,ejercicio,mes,dia,hora,tipo_pago,vendedor,seccion,talla,modelo,color,producto,descripcion,grupo,subgrupo,linea,marca,lista,cantidad,descuento,subtotal,iva,total,proveedor,detalle
0,VENTA,T012,2021.0,4.0,14.0,13.0,EF,406.0,UNISEX,T- CHICA,TELA,SURTIDO,3.0,ALMOHADA SIN MARCA BEBE SURTIDO UNISEX T- CHIC...,ALMOHADA,LINEA,BEBE,0.0,AGUASCALIENTES,1.0,0.0,25.86,4.14,30.0,0008,ESTAMPADA C/OLAN S/BOLSA
1,VENTA,T013,2021.0,4.0,10.0,17.0,EF,463.0,UNISEX,T- CHICA,TELA,SURTIDO,3.0,ALMOHADA SIN MARCA BEBE SURTIDO UNISEX T- CHIC...,ALMOHADA,LINEA,BEBE,0.0,AGUASCALIENTES,1.0,0.0,25.86,4.14,30.0,0008,ESTAMPADA C/OLAN S/BOLSA
2,VENTA,T003,2021.0,4.0,3.0,15.0,EF,461.0,UNISEX,T- UNITALLA,VELOUR,SURTIDO,5.0,ALMOHADA T- UNITALLA LINEA SURTIDO BEBE ESTA...,ALMOHADA,LINEA,BEBE,26.0,AGUASCALIENTES,1.0,0.0,41.38,6.62,48.0,0129,ESTAMPADA C/BOLSA
3,VENTA,T003,2021.0,4.0,4.0,17.0,EF,458.0,UNISEX,T- UNITALLA,VELOUR,SURTIDO,5.0,ALMOHADA T- UNITALLA LINEA SURTIDO BEBE ESTA...,ALMOHADA,LINEA,BEBE,26.0,DISTRIBUIDOR,1.0,0.0,36.21,5.79,42.0,0129,ESTAMPADA C/BOLSA
4,VENTA,T003,2021.0,4.0,10.0,16.0,EF,461.0,UNISEX,T- UNITALLA,VELOUR,SURTIDO,5.0,ALMOHADA T- UNITALLA LINEA SURTIDO BEBE ESTA...,ALMOHADA,LINEA,BEBE,26.0,AGUASCALIENTES,1.0,0.0,41.38,6.62,48.0,0129,ESTAMPADA C/BOLSA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1545091,VENTA,T018,2022.0,9.0,29.0,13.0,EF,131.0,INVIERNO,T- UNITALLA,FLANEL,SURTIDO,4302.0,PIJAMA T- UNITALLA SURTIDO DAMA DM01 FLANE...,PIJAMA,LINEA,DAMA,0317,AGUASCALIENTES,1.0,0.0,103.45,16.55,120.0,0037,DM01
1545092,VENTA,T018,2022.0,9.0,29.0,13.0,EF,131.0,INVIERNO,T- UNITALLA,FLANEL,SURTIDO,4302.0,PIJAMA T- UNITALLA SURTIDO DAMA DM01 FLANE...,PIJAMA,LINEA,DAMA,0317,AGUASCALIENTES,1.0,0.0,103.45,16.55,120.0,0037,DM01
1545093,VENTA,T019,2022.0,9.0,20.0,16.0,EF,608.0,INVIERNO,T- UNITALLA,FLANEL,SURTIDO,4302.0,PIJAMA T- UNITALLA SURTIDO DAMA DM01 FLANE...,PIJAMA,LINEA,DAMA,0317,AGUASCALIENTES,1.0,0.0,103.45,16.55,120.0,0037,DM01
1545094,VENTA,T019,2022.0,9.0,23.0,13.0,EF,608.0,INVIERNO,T- UNITALLA,FLANEL,SURTIDO,4302.0,PIJAMA T- UNITALLA SURTIDO DAMA DM01 FLANE...,PIJAMA,LINEA,DAMA,0317,AGUASCALIENTES,1.0,0.0,103.45,16.55,120.0,0037,DM01
1545095,VENTA,T022,2022.0,9.0,17.0,12.0,EF,606.0,INVIERNO,T- UNITALLA,FLANEL,SURTIDO,4302.0,PIJAMA T- UNITALLA SURTIDO DAMA DM01 FLANE...,PIJAMA,LINEA,DAMA,0317,AGUASCALIENTES,1.0,0.0,103.45,16.55,120.0,0037,DM01

In [104]:
# Save new dataframes into CSV for future use. 

venta.to_csv('cleaned_venta.csv', index=False)
costo.to_csv('cleaned_costo.csv', index=False)

In [106]:
data

,clase,almacen,ejercicio,mes,dia,hora,tipo_pago,vendedor,seccion,talla,modelo,color,producto,descripcion,grupo,subgrupo,linea,marca,lista,cantidad,descuento,subtotal,iva,total,costo,proveedor,detalle
0,VENTA,T012,2021.0,4.0,14.0,13.0,EF,406.0,UNISEX,T- CHICA,TELA,SURTIDO,3.0,ALMOHADA SIN MARCA BEBE SURTIDO UNISEX T- CHIC...,ALMOHADA,LINEA,BEBE,0.0,AGUASCALIENTES,1.0,0.0,25.86,4.14,30.0,NaN,0008,ESTAMPADA C/OLAN S/BOLSA
1,VENTA,T013,2021.0,4.0,10.0,17.0,EF,463.0,UNISEX,T- CHICA,TELA,SURTIDO,3.0,ALMOHADA SIN MARCA BEBE SURTIDO UNISEX T- CHIC...,ALMOHADA,LINEA,BEBE,0.0,AGUASCALIENTES,1.0,0.0,25.86,4.14,30.0,NaN,0008,ESTAMPADA C/OLAN S/BOLSA
2,VENTA,T003,2021.0,4.0,3.0,15.0,EF,461.0,UNISEX,T- UNITALLA,VELOUR,SURTIDO,5.0,ALMOHADA T- UNITALLA LINEA SURTIDO BEBE ESTA...,ALMOHADA,LINEA,BEBE,26.0,AGUASCALIENTES,1.0,0.0,41.38,6.62,48.0,NaN,0129,ESTAMPADA C/BOLSA
3,VENTA,T003,2021.0,4.0,4.0,17.0,EF,458.0,UNISEX,T- UNITALLA,VELOUR,SURTIDO,5.0,ALMOHADA T- UNITALLA LINEA SURTIDO BEBE ESTA...,ALMOHADA,LINEA,BEBE,26.0,DISTRIBUIDOR,1.0,0.0,36.21,5.79,42.0,NaN,0129,ESTAMPADA C/BOLSA
4,VENTA,T003,2021.0,4.0,10.0,16.0,EF,461.0,UNISEX,T- UNITALLA,VELOUR,SURTIDO,5.0,ALMOHADA T- UNITALLA LINEA SURTIDO BEBE ESTA...,ALMOHADA,LINEA,BEBE,26.0,AGUASCALIENTES,1.0,0.0,41.38,6.62,48.0,NaN,0129,ESTAMPADA C/BOLSA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1545091,VENTA,T018,2022.0,9.0,29.0,13.0,EF,131.0,INVIERNO,T- UNITALLA,FLANEL,SURTIDO,4302.0,PIJAMA T- UNITALLA SURTIDO DAMA DM01 FLANE...,PIJAMA,LINEA,DAMA,0317,AGUASCALIENTES,1.0,0.0,103.45,16.55,120.0,58.6217,0037,DM01
1545092,VENTA,T018,2022.0,9.0,29.0,13.0,EF,131.0,INVIERNO,T- UNITALLA,FLANEL,SURTIDO,4302.0,PIJAMA T- UNITALLA SURTIDO DAMA DM01 FLANE...,PIJAMA,LINEA,DAMA,0317,AGUASCALIENTES,1.0,0.0,103.45,16.55,120.0,58.6217,0037,DM01
1545093,VENTA,T019,2022.0,9.0,20.0,16.0,EF,608.0,INVIERNO,T- UNITALLA,FLANEL,SURTIDO,4302.0,PIJAMA T- UNITALLA SURTIDO DAMA DM01 FLANE...,PIJAMA,LINEA,DAMA,0317,AGUASCALIENTES,1.0,0.0,103.45,16.55,120.0,58.6217,0037,DM01
1545094,VENTA,T019,2022.0,9.0,23.0,13.0,EF,608.0,INVIERNO,T- UNITALLA,FLANEL,SURTIDO,4302.0,PIJAMA T- UNITALLA SURTIDO DAMA DM01 FLANE...,PIJAMA,LINEA,DAMA,0317,AGUASCALIENTES,1.0,0.0,103.45,16.55,120.0,58.6217,0037,DM01
1545095,VENTA,T022,2022.0,9.0,17.0,12.0,EF,606.0,INVIERNO,T- UNITALLA,FLANEL,SURTIDO,4302.0,PIJAMA T- UNITALLA SURTIDO DAMA DM01 FLANE...,PIJAMA,LINEA,DAMA,0317,AGUASCALIENTES,1.0,0.0,103.45,16.55,120.0,58.6217,0037,DM01

In [96]:
# create a new dataframe in MySQL
# generate a getpass and connect to Workbench

passw = getpass.getpass()

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=passw
)

········

In [107]:
# export information to SQL to generate queries for different models.
# name I gave it was: final_project; it is created inside Workbench.
# tables created: 'ventas', 'costo', 'data'

connection_string = 'mysql+pymysql://root:'+passw+'@localhost/final_project'
engine = create_engine(connection_string)

venta.to_sql(name = 'ventas', con=engine, if_exists='replace', index=False)
costo.to_sql(name = 'costo', con=engine, if_exists='replace', index=False)
data.to_sql(name = 'data', con=engine, if_exists='replace', index=False)

1545096