In [1]:
# import libraries
import pandas as pd
import numpy as np
import glob
import os
import mysql.connector
import getpass 
from sqlalchemy import create_engine

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.datasets import load_boston
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
import math
from sklearn.preprocessing import MinMaxScaler 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestRegressor

In [2]:
# Bring table from MySQL
password = getpass.getpass()

connection_string = 'mysql+pymysql://root:'+password+'@localhost/kaggle_project'
engine = create_engine(connection_string)

sales = pd.read_sql_query('SELECT * FROM sales_stores', engine)

········

## Generate different Queries to obtain relevant information for the client
### Will save all of them in CSVs and DF here

In [5]:
# cancelations per sales person
cancelaciones_por_vendedor = pd.read_sql_query('''SELECT count(clase) as cancelaciones, vendedor FROM final_project.ventas
WHERE clase = 'CANCELACION'
group by vendedor
order by cancelaciones desc
''', engine)

cancelaciones_por_vendedor.to_csv('cancelaciones_por_vendedor.csv', index=False)

cancelaciones_por_vendedor

     cancelaciones  vendedor
0              385      66.0
1              309     112.0
2              276     131.0
3              218     486.0
4              204      17.0
..             ...       ...
177              1      81.0
178              1     593.0
179              1     147.0
180              1      59.0
181              1     161.0

[182 rows x 2 columns]

In [7]:
# product price, cost and profit
precio_utilidad_por_producto = pd.read_sql_query('''
SELECT v.producto, round(c.precio_1,2) as precio_1, round(c.precio_2,2) as precio_2, round(c.costo_base,2) as costo, 
round((c.precio_1 - c.costo_base),2) as utilidad_1, round((c.precio_2 - c.costo_base),2) as utilidad_2
FROM final_project.ventas v 
JOIN final_project.costo c USING (producto)
WHERE clase = 'VENTA'
group by v.producto
order by producto
''', engine)

precio_utilidad_por_producto.to_csv('precio_utilidad_por_producto.csv', index=False)

precio_utilidad_por_producto

# there are products with loss

      producto  precio_1  precio_2   costo  utilidad_1  utilidad_2
0          1.0     19.83     18.10   11.49        8.33        6.61
1          2.0    134.48    128.45   79.31       55.17       49.14
2          3.0     30.17     28.45   14.66       15.52       13.79
3          4.0     34.48     32.76   14.66       19.83       18.10
4          5.0     47.41     43.10   27.59       19.83       15.52
...        ...       ...       ...     ...         ...         ...
3973    4351.0    129.31    125.00   85.00       44.31       40.00
3974    4352.0    125.00    120.69   83.00       42.00       37.69
3975    4353.0    142.24    137.93   94.00       48.24       43.93
3976    4354.0    107.76    103.45   72.00       35.76       31.45
3977    4355.0    202.59    135.00  135.00       67.59        0.00

[3978 rows x 6 columns]

In [8]:
# productos vendidos por almacen
producto_vendido_por_almacen_total = pd.read_sql_query('''
SELECT v.almacen, count(v.producto) as productos_vendidos FROM final_project.ventas v
group by almacen
order by productos_vendidos desc
''', engine)

producto_vendido_por_almacen_total.to_csv('producto_vendido_por_almacen_total.csv', index=False)

producto_vendido_por_almacen_total

   almacen  productos_vendidos
0     T003              221554
1     T007              160138
2     T015              150026
3     T016              150025
4     T006              110709
5     T008               87975
6     T013               87943
7     T011               86275
8     T019               66433
9     T017               56448
10    T014               53577
11    T012               50096
12    T018               49250
13    T005               45856
14    T020               32730
15    T009               32010
16    T010               24438
17    T002               22029
18    T021               20035
19    T001               17716
20    T022               14597
21    T004                5236

In [9]:
# productos vendidos por almacen por mes
producto_vendido_por_almacen_mensual = pd.read_sql_query('''
SELECT v.almacen, v.ejercicio, v.mes, count(v.producto) as productos_vendidos FROM final_project.ventas v
group by almacen, ejercicio, mes
order by productos_vendidos desc
''', engine)

producto_vendido_por_almacen_mensual.to_csv('producto_vendido_por_almacen_mensual.csv', index=False)

producto_vendido_por_almacen_mensual

    almacen  ejercicio   mes  productos_vendidos
0      T003     2021.0  12.0               26009
1      T007     2021.0  12.0               17790
2      T015     2021.0  12.0               14076
3      T003     2022.0   5.0               12830
4      T016     2021.0  12.0               12530
..      ...        ...   ...                 ...
453    T004     2021.0   2.0                  76
454    T004     2021.0   8.0                  65
455    T004     2021.0   7.0                  48
456    T004     2021.0   1.0                  44
457    T004     2021.0   4.0                  27

[458 rows x 4 columns]

In [4]:
# full table before including NaN costs
costo_para_llenar_nan = pd.read_sql_query('''
SELECT d.*, c.costo_base as 'costo_ind' FROM final_project.data d
JOIN final_project.costo c USING (producto)
WHERE clase = 'VENTA'
''', engine)

costo_para_llenar_nan.to_csv('costo_para_llenar_nan.csv', index=False)

costo_para_llenar_nan

,clase,almacen,ejercicio,mes,dia,hora,tipo_pago,vendedor,seccion,talla,...,lista,cantidad,descuento,subtotal,iva,total,costo,proveedor,detalle,costo_ind
0,VENTA,T012,2021.0,4.0,14.0,13.0,EF,406.0,UNISEX,T- CHICA,...,AGUASCALIENTES,1.0,0.0,25.86,4.14,30.0,NaN,0008,ESTAMPADA C/OLAN S/BOLSA,14.65517
1,VENTA,T013,2021.0,4.0,10.0,17.0,EF,463.0,UNISEX,T- CHICA,...,AGUASCALIENTES,1.0,0.0,25.86,4.14,30.0,NaN,0008,ESTAMPADA C/OLAN S/BOLSA,14.65517
2,VENTA,T003,2021.0,4.0,3.0,15.0,EF,461.0,UNISEX,T- UNITALLA,...,AGUASCALIENTES,1.0,0.0,41.38,6.62,48.0,NaN,0129,ESTAMPADA C/BOLSA,27.58621
3,VENTA,T003,2021.0,4.0,4.0,17.0,EF,458.0,UNISEX,T- UNITALLA,...,DISTRIBUIDOR,1.0,0.0,36.21,5.79,42.0,NaN,0129,ESTAMPADA C/BOLSA,27.58621
4,VENTA,T003,2021.0,4.0,10.0,16.0,EF,461.0,UNISEX,T- UNITALLA,...,AGUASCALIENTES,1.0,0.0,41.38,6.62,48.0,NaN,0129,ESTAMPADA C/BOLSA,27.58621
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1535029,VENTA,T018,2022.0,9.0,29.0,13.0,EF,131.0,INVIERNO,T- UNITALLA,...,AGUASCALIENTES,1.0,0.0,103.45,16.55,120.0,58.6217,0037,DM01,68.00000
1535030,VENTA,T018,2022.0,9.0,29.0,13.0,EF,131.0,INVIERNO,T- UNITALLA,...,AGUASCALIENTES,1.0,0.0,103.45,16.55,120.0,58.6217,0037,DM01,68.00000
1535031,VENTA,T019,2022.0,9.0,20.0,16.0,EF,608.0,INVIERNO,T- UNITALLA,...,AGUASCALIENTES,1.0,0.0,103.45,16.55,120.0,58.6217,0037,DM01,68.00000
1535032,VENTA,T019,2022.0,9.0,23.0,13.0,EF,608.0,INVIERNO,T- UNITALLA,...,AGUASCALIENTES,1.0,0.0,103.45,16.55,120.0,58.6217,0037,DM01,68.00000
1535033,VENTA,T022,2022.0,9.0,17.0,12.0,EF,606.0,INVIERNO,T- UNITALLA,...,AGUASCALIENTES,1.0,0.0,103.45,16.55,120.0,58.6217,0037,DM01,68.00000