In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.datasets import load_boston
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
import mysql.connector
import getpass 
from sqlalchemy import create_engine
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
import math
from sklearn.preprocessing import MinMaxScaler 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestRegressor

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
# cancelaciones_por_vendedor = pd.read_csv('cancelaciones_por_vendedor.csv')
# precio_utilidad_por_producto = pd.read_csv('precio_utilidad_por_producto.csv')
# producto_vendido_por_almacen_total = pd.read_csv('producto_vendido_por_almacen_total.csv')
# producto_vendido_por_almacen_mensual = pd.read_csv('producto_vendido_por_almacen_mensual.csv')
costo_para_llenar_nan = pd.read_csv('costo_para_llenar_nan.csv', low_memory=False)

In [5]:
costo_para_llenar_nan

,clase,almacen,ejercicio,mes,dia,hora,tipo_pago,vendedor,seccion,talla,modelo,color,producto,descripcion,grupo,subgrupo,linea,marca,lista,cantidad,descuento,subtotal,iva,total,costo,proveedor,detalle,costo_ind
0,VENTA,T012,2021.0,4.0,14.0,13.0,EF,406.0,UNISEX,T- CHICA,TELA,SURTIDO,3.0,ALMOHADA SIN MARCA BEBE SURTIDO UNISEX T- CHIC...,ALMOHADA,LINEA,BEBE,0,AGUASCALIENTES,1.0,0.0,25.86,4.14,30.0,NaN,0008,ESTAMPADA C/OLAN S/BOLSA,14.65517
1,VENTA,T013,2021.0,4.0,10.0,17.0,EF,463.0,UNISEX,T- CHICA,TELA,SURTIDO,3.0,ALMOHADA SIN MARCA BEBE SURTIDO UNISEX T- CHIC...,ALMOHADA,LINEA,BEBE,0,AGUASCALIENTES,1.0,0.0,25.86,4.14,30.0,NaN,0008,ESTAMPADA C/OLAN S/BOLSA,14.65517
2,VENTA,T003,2021.0,4.0,3.0,15.0,EF,461.0,UNISEX,T- UNITALLA,VELOUR,SURTIDO,5.0,ALMOHADA T- UNITALLA LINEA SURTIDO BEBE ESTA...,ALMOHADA,LINEA,BEBE,26,AGUASCALIENTES,1.0,0.0,41.38,6.62,48.0,NaN,0129,ESTAMPADA C/BOLSA,27.58621
3,VENTA,T003,2021.0,4.0,4.0,17.0,EF,458.0,UNISEX,T- UNITALLA,VELOUR,SURTIDO,5.0,ALMOHADA T- UNITALLA LINEA SURTIDO BEBE ESTA...,ALMOHADA,LINEA,BEBE,26,DISTRIBUIDOR,1.0,0.0,36.21,5.79,42.0,NaN,0129,ESTAMPADA C/BOLSA,27.58621
4,VENTA,T003,2021.0,4.0,10.0,16.0,EF,461.0,UNISEX,T- UNITALLA,VELOUR,SURTIDO,5.0,ALMOHADA T- UNITALLA LINEA SURTIDO BEBE ESTA...,ALMOHADA,LINEA,BEBE,26,AGUASCALIENTES,1.0,0.0,41.38,6.62,48.0,NaN,0129,ESTAMPADA C/BOLSA,27.58621
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1535029,VENTA,T018,2022.0,9.0,29.0,13.0,EF,131.0,INVIERNO,T- UNITALLA,FLANEL,SURTIDO,4302.0,PIJAMA T- UNITALLA SURTIDO DAMA DM01 FLANE...,PIJAMA,LINEA,DAMA,0317,AGUASCALIENTES,1.0,0.0,103.45,16.55,120.0,58.6217,0037,DM01,68.00000
1535030,VENTA,T018,2022.0,9.0,29.0,13.0,EF,131.0,INVIERNO,T- UNITALLA,FLANEL,SURTIDO,4302.0,PIJAMA T- UNITALLA SURTIDO DAMA DM01 FLANE...,PIJAMA,LINEA,DAMA,0317,AGUASCALIENTES,1.0,0.0,103.45,16.55,120.0,58.6217,0037,DM01,68.00000
1535031,VENTA,T019,2022.0,9.0,20.0,16.0,EF,608.0,INVIERNO,T- UNITALLA,FLANEL,SURTIDO,4302.0,PIJAMA T- UNITALLA SURTIDO DAMA DM01 FLANE...,PIJAMA,LINEA,DAMA,0317,AGUASCALIENTES,1.0,0.0,103.45,16.55,120.0,58.6217,0037,DM01,68.00000
1535032,VENTA,T019,2022.0,9.0,23.0,13.0,EF,608.0,INVIERNO,T- UNITALLA,FLANEL,SURTIDO,4302.0,PIJAMA T- UNITALLA SURTIDO DAMA DM01 FLANE...,PIJAMA,LINEA,DAMA,0317,AGUASCALIENTES,1.0,0.0,103.45,16.55,120.0,58.6217,0037,DM01,68.00000
1535033,VENTA,T022,2022.0,9.0,17.0,12.0,EF,606.0,INVIERNO,T- UNITALLA,FLANEL,SURTIDO,4302.0,PIJAMA T- UNITALLA SURTIDO DAMA DM01 FLANE...,PIJAMA,LINEA,DAMA,0317,AGUASCALIENTES,1.0,0.0,103.45,16.55,120.0,58.6217,0037,DM01,68.00000

In [9]:
costo_para_llenar_nan.isnull().sum()

clase               0
almacen             0
ejercicio           0
mes                 0
dia                 0
hora                0
tipo_pago           0
vendedor            0
seccion             0
talla               0
modelo              0
color               0
producto            0
descripcion         0
grupo               0
subgrupo            0
linea               0
marca               0
lista               0
cantidad            0
descuento           0
subtotal            0
iva                 0
total               0
costo          883597
proveedor           0
detalle             0
costo_ind           0
dtype: int64

In [12]:
# as this is ia big df np.where is better than a loop. 
costo_para_llenar_nan['costo'] = np.where(costo_para_llenar_nan['costo'].isna(), 
                                          costo_para_llenar_nan['costo_ind']*costo_para_llenar_nan['cantidad'],
                                          costo_para_llenar_nan['costo'])

In [13]:
costo_para_llenar_nan.isna().sum()

clase          0
almacen        0
ejercicio      0
mes            0
dia            0
hora           0
tipo_pago      0
vendedor       0
seccion        0
talla          0
modelo         0
color          0
producto       0
descripcion    0
grupo          0
subgrupo       0
linea          0
marca          0
lista          0
cantidad       0
descuento      0
subtotal       0
iva            0
total          0
costo          0
proveedor      0
detalle        0
costo_ind      0
dtype: int64

In [ ]:
##### this is not the best solution (for big DF), kept it for reference
# for i in range(len(costo_para_llenar_nan)):
#     if costo_para_llenar_nan['costo'].isna().iloc[i] == True:
#         costo_para_llenar_nan[costo_para_llenar_nan['costo'].iloc[i]] = costo_para_llenar_nan['costo_ind'].iloc[i] * costo_para_llenar_nan['cantidad'].iloc[i]
#     else:
#         costo_para_llenar_nan[costo_para_llenar_nan['costo'].iloc[i]] = costo_para_llenar_nan[costo_para_llenar_nan['costo'].iloc[i]]*1

In [17]:
# create a new dataframe in MySQL
passw = getpass.getpass()

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=passw
)

mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE aura")

# name I gave it was: aura; it is created inside Workbench

········

In [18]:
# export information to SQL to generate queries for different models.

connection_string = 'mysql+pymysql://root:'+passw+'@localhost/aura'     # here we choose the data base, here: midproject
engine = create_engine(connection_string)

costo_para_llenar_nan.to_sql(name = 'df', con=engine, if_exists='replace', index=False)

1535034

In [19]:
costo_para_llenar_nan.to_csv('aura_df.csv', index=False)