In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.datasets import load_boston
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
import mysql.connector
import getpass 
from sqlalchemy import create_engine
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
import math
from sklearn.preprocessing import MinMaxScaler 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestRegressor

In [5]:
# Bring table from MySQL
password = getpass.getpass()

connection_string = 'mysql+pymysql://root:'+password+'@localhost/aura'
engine = create_engine(connection_string)

········

In [ ]:
data = pd.read_sql_query('SELECT * FROM aura.df', engine)

In [4]:
pd.set_option('display.max_columns', None)
data

,clase,almacen,ejercicio,mes,dia,hora,tipo_pago,vendedor,seccion,talla,modelo,color,producto,descripcion,grupo,subgrupo,linea,marca,lista,cantidad,descuento,subtotal,iva,total,costo,proveedor,detalle,costo_ind
0,VENTA,T012,2021.0,4.0,14.0,13.0,EF,406.0,UNISEX,T- CHICA,TELA,SURTIDO,3.0,ALMOHADA SIN MARCA BEBE SURTIDO UNISEX T- CHIC...,ALMOHADA,LINEA,BEBE,0,AGUASCALIENTES,1.0,0.0,25.86,4.14,30.0,14.65517,0008,ESTAMPADA C/OLAN S/BOLSA,14.65517
1,VENTA,T013,2021.0,4.0,10.0,17.0,EF,463.0,UNISEX,T- CHICA,TELA,SURTIDO,3.0,ALMOHADA SIN MARCA BEBE SURTIDO UNISEX T- CHIC...,ALMOHADA,LINEA,BEBE,0,AGUASCALIENTES,1.0,0.0,25.86,4.14,30.0,14.65517,0008,ESTAMPADA C/OLAN S/BOLSA,14.65517
2,VENTA,T003,2021.0,4.0,3.0,15.0,EF,461.0,UNISEX,T- UNITALLA,VELOUR,SURTIDO,5.0,ALMOHADA T- UNITALLA LINEA SURTIDO BEBE ESTA...,ALMOHADA,LINEA,BEBE,26,AGUASCALIENTES,1.0,0.0,41.38,6.62,48.0,27.58621,0129,ESTAMPADA C/BOLSA,27.58621
3,VENTA,T003,2021.0,4.0,4.0,17.0,EF,458.0,UNISEX,T- UNITALLA,VELOUR,SURTIDO,5.0,ALMOHADA T- UNITALLA LINEA SURTIDO BEBE ESTA...,ALMOHADA,LINEA,BEBE,26,DISTRIBUIDOR,1.0,0.0,36.21,5.79,42.0,27.58621,0129,ESTAMPADA C/BOLSA,27.58621
4,VENTA,T003,2021.0,4.0,10.0,16.0,EF,461.0,UNISEX,T- UNITALLA,VELOUR,SURTIDO,5.0,ALMOHADA T- UNITALLA LINEA SURTIDO BEBE ESTA...,ALMOHADA,LINEA,BEBE,26,AGUASCALIENTES,1.0,0.0,41.38,6.62,48.0,27.58621,0129,ESTAMPADA C/BOLSA,27.58621
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1535029,VENTA,T018,2022.0,9.0,29.0,13.0,EF,131.0,INVIERNO,T- UNITALLA,FLANEL,SURTIDO,4302.0,PIJAMA T- UNITALLA SURTIDO DAMA DM01 FLANE...,PIJAMA,LINEA,DAMA,0317,AGUASCALIENTES,1.0,0.0,103.45,16.55,120.0,58.62170,0037,DM01,68.00000
1535030,VENTA,T018,2022.0,9.0,29.0,13.0,EF,131.0,INVIERNO,T- UNITALLA,FLANEL,SURTIDO,4302.0,PIJAMA T- UNITALLA SURTIDO DAMA DM01 FLANE...,PIJAMA,LINEA,DAMA,0317,AGUASCALIENTES,1.0,0.0,103.45,16.55,120.0,58.62170,0037,DM01,68.00000
1535031,VENTA,T019,2022.0,9.0,20.0,16.0,EF,608.0,INVIERNO,T- UNITALLA,FLANEL,SURTIDO,4302.0,PIJAMA T- UNITALLA SURTIDO DAMA DM01 FLANE...,PIJAMA,LINEA,DAMA,0317,AGUASCALIENTES,1.0,0.0,103.45,16.55,120.0,58.62170,0037,DM01,68.00000
1535032,VENTA,T019,2022.0,9.0,23.0,13.0,EF,608.0,INVIERNO,T- UNITALLA,FLANEL,SURTIDO,4302.0,PIJAMA T- UNITALLA SURTIDO DAMA DM01 FLANE...,PIJAMA,LINEA,DAMA,0317,AGUASCALIENTES,1.0,0.0,103.45,16.55,120.0,58.62170,0037,DM01,68.00000
1535033,VENTA,T022,2022.0,9.0,17.0,12.0,EF,606.0,INVIERNO,T- UNITALLA,FLANEL,SURTIDO,4302.0,PIJAMA T- UNITALLA SURTIDO DAMA DM01 FLANE...,PIJAMA,LINEA,DAMA,0317,AGUASCALIENTES,1.0,0.0,103.45,16.55,120.0,58.62170,0037,DM01,68.00000

In [6]:
# 1
# producto_vendido_por_almacen_anual
producto_vendido_por_almacen_anual = pd.read_sql_query('''
SELECT almacen, ejercicio as año, count(producto) as productos_vendidos FROM aura.df
group by almacen, ejercicio
order by productos_vendidos desc
''', engine)

producto_vendido_por_almacen_anual.to_csv(r"C:\Users\mfduh\OneDrive\Documents\Deutschland\Arbeiten\Data Analyst\Jupyter excercises\Week 9 - Final Project\Created_queries\producto_vendido_por_almacen_anual.csv", index=False)
producto_vendido_por_almacen_anual

   almacen     año  productos_vendidos
0     T003  2021.0              123556
1     T003  2022.0               95882
2     T007  2021.0               90158
3     T016  2021.0               82129
4     T015  2021.0               79104
5     T015  2022.0               70442
6     T007  2022.0               69200
7     T016  2022.0               67077
8     T006  2021.0               59547
9     T013  2021.0               50874
10    T008  2021.0               50559
11    T006  2022.0               50387
12    T011  2021.0               46624
13    T019  2021.0               39759
14    T011  2022.0               39215
15    T008  2022.0               36618
16    T013  2022.0               36368
17    T017  2021.0               32007
18    T018  2022.0               30108
19    T014  2021.0               28336
20    T012  2022.0               26361
21    T019  2022.0               26213
22    T014  2022.0               24935
23    T005  2021.0               24800
24    T017  2022.0               24251
25    T012  2021.0               23423
26    T005  2022.0               20647
27    T018  2021.0               18897
28    T009  2021.0               18837
29    T020  2021.0               18124
30    T022  2022.0               14547
31    T020  2022.0               14399
32    T010  2021.0               13961
33    T009  2022.0               12870
34    T002  2021.0               12450
35    T021  2022.0               12430
36    T010  2022.0               10214
37    T002  2022.0                9515
38    T001  2022.0                8992
39    T001  2021.0                8652
40    T021  2021.0                7497
41    T004  2022.0                3367
42    T004  2021.0                1702

In [8]:
# 2
# producto_vendido_por_almacen_mensual
producto_vendido_por_almacen_mensual = pd.read_sql_query('''
SELECT almacen, ejercicio, mes, 
sum(subtotal) as productos_vendidos FROM aura.df
group by almacen, ejercicio, mes
order by productos_vendidos desc
''', engine)

producto_vendido_por_almacen_mensual.to_csv(r"C:\Users\mfduh\OneDrive\Documents\Deutschland\Arbeiten\Data Analyst\Jupyter excercises\Week 9 - Final Project\Created_queries\producto_vendido_por_almacen_mensual.csv", index=False)

producto_vendido_por_almacen_mensual

    almacen  ejercicio   mes  productos_vendidos
0      T003     2021.0  12.0          2048815.34
1      T007     2021.0  12.0          1479378.10
2      T013     2021.0  12.0           882199.32
3      T006     2021.0  12.0           823342.68
4      T008     2021.0  12.0           737047.45
..      ...        ...   ...                 ...
453    T004     2021.0   3.0            11365.26
454    T004     2021.0   2.0             7744.35
455    T004     2021.0   8.0             6577.70
456    T004     2021.0   1.0             4631.48
457    T004     2021.0   4.0             3373.55

[458 rows x 4 columns]

In [9]:
# 3
# ventas_por_almacen_anual
ventas_por_almacen_anual = pd.read_sql_query('''
SELECT almacen,ejercicio as año, sum(subtotal) as ventas FROM aura.df
group by almacen, ejercicio
order by ventas desc
''', engine)

ventas_por_almacen_anual.to_csv(r"C:\Users\mfduh\OneDrive\Documents\Deutschland\Arbeiten\Data Analyst\Jupyter excercises\Week 9 - Final Project\Created_queries\ventas_por_almacen_anual.csv", index=False)

ventas_por_almacen_anual

   almacen     año        ventas
0     T003  2021.0  7.507871e+06
1     T003  2022.0  5.699230e+06
2     T007  2021.0  5.492175e+06
3     T007  2022.0  4.425586e+06
4     T016  2021.0  4.064840e+06
5     T006  2021.0  3.936210e+06
6     T016  2022.0  3.866715e+06
7     T015  2021.0  3.704344e+06
8     T006  2022.0  3.464776e+06
9     T015  2022.0  3.455195e+06
10    T013  2021.0  3.411052e+06
11    T008  2021.0  3.280442e+06
12    T011  2021.0  3.039021e+06
13    T011  2022.0  2.520094e+06
14    T008  2022.0  2.510524e+06
15    T013  2022.0  2.464579e+06
16    T019  2021.0  2.307073e+06
17    T014  2021.0  1.767201e+06
18    T018  2022.0  1.738895e+06
19    T017  2021.0  1.555237e+06
20    T012  2021.0  1.550447e+06
21    T014  2022.0  1.498217e+06
22    T012  2022.0  1.489883e+06
23    T019  2022.0  1.478922e+06
24    T017  2022.0  1.435379e+06
25    T009  2021.0  1.414299e+06
26    T005  2021.0  1.303712e+06
27    T005  2022.0  1.123183e+06
28    T009  2022.0  1.107069e+06
29    T002  2021.0  1.088180e+06
30    T010  2021.0  9.307151e+05
31    T021  2022.0  9.249183e+05
32    T022  2022.0  9.132622e+05
33    T020  2021.0  8.862604e+05
34    T004  2022.0  8.694515e+05
35    T020  2022.0  8.678102e+05
36    T018  2021.0  8.236246e+05
37    T002  2022.0  8.074170e+05
38    T001  2021.0  7.047760e+05
39    T010  2022.0  6.836036e+05
40    T001  2022.0  6.493191e+05
41    T021  2021.0  6.232055e+05
42    T004  2021.0  2.947177e+05

In [11]:
# 4
# ventas_por_almacen_mensual
ventas_por_almacen_mensual = pd.read_sql_query('''
SELECT almacen, ejercicio, mes, sum(subtotal) as ventas FROM aura.df
group by almacen, ejercicio, mes
order by ventas desc
''', engine)

ventas_por_almacen_mensual.to_csv(r"C:\Users\mfduh\OneDrive\Documents\Deutschland\Arbeiten\Data Analyst\Jupyter excercises\Week 9 - Final Project\Created_queries\ventas_por_almacen_mensual.csv", index=False)

ventas_por_almacen_mensual

    almacen  ejercicio   mes      ventas
0      T003     2021.0  12.0  2048815.34
1      T007     2021.0  12.0  1479378.10
2      T013     2021.0  12.0   882199.32
3      T006     2021.0  12.0   823342.68
4      T008     2021.0  12.0   737047.45
..      ...        ...   ...         ...
453    T004     2021.0   3.0    11365.26
454    T004     2021.0   2.0     7744.35
455    T004     2021.0   8.0     6577.70
456    T004     2021.0   1.0     4631.48
457    T004     2021.0   4.0     3373.55

[458 rows x 4 columns]

In [12]:
# 5
# Venta_total_linea
venta_total_linea = pd.read_sql_query('''
SELECT linea, sum(subtotal) as ventas, count(producto) as productos_vendidos FROM aura.df
group by linea
order by ventas desc
''', engine)

venta_total_linea.to_csv(r"C:\Users\mfduh\OneDrive\Documents\Deutschland\Arbeiten\Data Analyst\Jupyter excercises\Week 9 - Final Project\Created_queries\venta_total_linea.csv", index=False)

venta_total_linea

             linea        ventas  productos_vendidos
0             DAMA  3.243199e+07              525757
1             BEBE  2.314236e+07              442780
2             NIÑA  1.403536e+07              189034
3             NIÑO  1.277789e+07              205748
4        CABALLERO  8.669056e+06              113746
5          JUVENIL  1.460285e+06               26564
6           UNISEX  8.564846e+05               23926
7          BASICOS  1.721512e+05                4498
8          BLANCOS  9.215290e+04                2351
9   BEBE MASCULINO  1.565942e+04                 119
10   BEBE FEMENINO  1.439235e+04                 126
11         DEFAULT  1.162433e+04                 384
12        MUESTRAS  3.707000e+01                   1

In [14]:
# 6
# Venta_linea_anual
venta_linea_anual = pd.read_sql_query('''
SELECT ejercicio, linea, sum(subtotal) as ventas, count(producto) as productos_vendidos FROM aura.df
group by linea, ejercicio
order by linea desc
''', engine)

venta_linea_anual.to_csv(r"C:\Users\mfduh\OneDrive\Documents\Deutschland\Arbeiten\Data Analyst\Jupyter excercises\Week 9 - Final Project\Created_queries\venta_linea_anual.csv", index=False)

venta_linea_anual

    ejercicio           linea        ventas  productos_vendidos
0      2021.0          UNISEX  5.043179e+05               13986
1      2022.0          UNISEX  3.521667e+05                9940
2      2021.0            NIÑO  7.247433e+06              117240
3      2022.0            NIÑO  5.530454e+06               88508
4      2021.0            NIÑA  7.684984e+06              106056
5      2022.0            NIÑA  6.350376e+06               82978
6      2021.0        MUESTRAS  3.707000e+01                   1
7      2021.0         JUVENIL  6.964654e+05               13131
8      2022.0         JUVENIL  7.638198e+05               13433
9      2021.0         DEFAULT  9.580530e+03                 330
10     2022.0         DEFAULT  2.043800e+03                  54
11     2021.0            DAMA  1.649607e+07              273841
12     2022.0            DAMA  1.593592e+07              251916
13     2021.0       CABALLERO  4.450880e+06               61690
14     2022.0       CABALLERO  4.218176e+06               52056
15     2021.0         BLANCOS  3.902682e+04                1466
16     2022.0         BLANCOS  5.312608e+04                 885
17     2021.0  BEBE MASCULINO  1.565942e+04                 119
18     2021.0   BEBE FEMENINO  1.141392e+04                 104
19     2022.0   BEBE FEMENINO  2.978430e+03                  22
20     2021.0            BEBE  1.239277e+07              239618
21     2022.0            BEBE  1.074959e+07              203162
22     2021.0         BASICOS  1.367673e+05                3414
23     2022.0         BASICOS  3.538395e+04                1084

In [13]:
# 7
# Venta_linea_mensual
venta_linea_mensual = pd.read_sql_query('''
SELECT ejercicio, mes, linea, sum(subtotal) as ventas, count(producto) as productos_vendidos FROM aura.df
group by linea, ejercicio, mes
order by linea desc
''', engine)

venta_linea_mensual.to_csv(r"C:\Users\mfduh\OneDrive\Documents\Deutschland\Arbeiten\Data Analyst\Jupyter excercises\Week 9 - Final Project\Created_queries\venta_linea_mensual.csv", index=False)

venta_linea_mensual

     ejercicio   mes    linea    ventas  productos_vendidos
0       2021.0   1.0   UNISEX  27047.83                 383
1       2021.0   2.0   UNISEX  22493.30                 775
2       2021.0   3.0   UNISEX  18614.71                 762
3       2021.0   4.0   UNISEX  23718.26                 867
4       2021.0   5.0   UNISEX  23802.35                1131
..         ...   ...      ...       ...                 ...
242     2022.0   6.0  BASICOS   3861.62                 109
243     2022.0   7.0  BASICOS   3912.91                  99
244     2022.0   8.0  BASICOS   3450.03                  71
245     2022.0   9.0  BASICOS   1587.27                  46
246     2022.0  10.0  BASICOS    658.71                  28

[247 rows x 5 columns]

In [15]:
# 8
# hora_mas_compra
hora_mas_compra = pd.read_sql_query('''
SELECT hora, linea, sum(producto) as productos_vendidos FROM aura.df
group by hora, linea
order by productos_vendidos desc
''', engine)

hora_mas_compra.to_csv(r"C:\Users\mfduh\OneDrive\Documents\Deutschland\Arbeiten\Data Analyst\Jupyter excercises\Week 9 - Final Project\Created_queries\hora_mas_compra.csv", index=False)

hora_mas_compra

     hora           linea  productos_vendidos
0    14.0            BEBE         121129617.0
1    13.0            BEBE         119592280.0
2    14.0            DAMA         113444085.0
3    13.0            DAMA         111412185.0
4    15.0            BEBE         107132059.0
..    ...             ...                 ...
165  20.0  BEBE MASCULINO              1595.0
166   7.0          UNISEX              1489.0
167  20.0         DEFAULT              1159.0
168   8.0         BASICOS               628.0
169  21.0         BASICOS               305.0

[170 rows x 3 columns]

In [16]:
# 9
# Venta_total_linea_almacen
venta_total_linea_almacen = pd.read_sql_query('''
SELECT almacen, linea, sum(subtotal) as ventas, count(producto) as productos_vendidos FROM aura.df
group by linea, almacen
order by almacen asc
''', engine)

venta_total_linea_almacen.to_csv(r"C:\Users\mfduh\OneDrive\Documents\Deutschland\Arbeiten\Data Analyst\Jupyter excercises\Week 9 - Final Project\Created_queries\venta_total_linea_almacen.csv", index=False)

venta_total_linea_almacen

    almacen           linea     ventas  productos_vendidos
0      T001            NIÑA  239140.79                2192
1      T001            NIÑO  191445.00                2752
2      T001            DAMA  375108.13                5026
3      T001  BEBE MASCULINO     103.45                   1
4      T001   BEBE FEMENINO     668.11                   6
..      ...             ...        ...                 ...
229    T022            NIÑA   67788.19                1259
230    T022         JUVENIL   17118.92                 326
231    T022          UNISEX    4103.26                 111
232    T022         BASICOS     557.44                   9
233    T022         BLANCOS     982.75                  10

[234 rows x 4 columns]

In [17]:
# 10
# Venta_linea_anual_almacen
venta_linea_anual_almacen = pd.read_sql_query('''
SELECT almacen, ejercicio, linea, sum(subtotal) as ventas, count(producto) as productos_vendidos FROM aura.df
group by almacen, linea, ejercicio
order by almacen asc
''', engine)

venta_linea_anual_almacen.to_csv(r"C:\Users\mfduh\OneDrive\Documents\Deutschland\Arbeiten\Data Analyst\Jupyter excercises\Week 9 - Final Project\Created_queries\venta_linea_anual_almacen.csv", index=False)

venta_linea_anual_almacen

    almacen  ejercicio          linea     ventas  productos_vendidos
0      T001     2021.0        BASICOS    2129.66                  79
1      T001     2022.0        BASICOS    1092.04                  40
2      T001     2021.0           BEBE  241527.46                3296
3      T001     2022.0           BEBE  270845.98                3945
4      T001     2021.0  BEBE FEMENINO     668.11                   6
..      ...        ...            ...        ...                 ...
427    T022     2022.0           DAMA  624283.83                9289
428    T022     2022.0        JUVENIL   17118.92                 326
429    T022     2022.0           NIÑA   67788.19                1259
430    T022     2022.0           NIÑO   43993.37                 824
431    T022     2022.0         UNISEX    4103.26                 111

[432 rows x 5 columns]

In [18]:
# 11
# venta_linea_mensual_almacen
venta_linea_mensual_almacen = pd.read_sql_query('''
SELECT almacen, ejercicio, mes, linea, sum(subtotal) as ventas, count(producto) as productos_vendidos FROM aura.df
group by almacen, linea, ejercicio, mes
order by almacen, mes asc
''', engine)

venta_linea_mensual_almacen.to_csv(r"C:\Users\mfduh\OneDrive\Documents\Deutschland\Arbeiten\Data Analyst\Jupyter excercises\Week 9 - Final Project\Created_queries\venta_linea_mensual_almacen.csv", index=False)

venta_linea_mensual_almacen

     almacen  ejercicio   mes      linea    ventas  productos_vendidos
0       T001     2021.0   1.0       BEBE   7294.20                 127
1       T001     2021.0   1.0       NIÑA   2909.50                  21
2       T001     2021.0   1.0       DAMA   1996.65                  17
3       T001     2022.0   1.0       BEBE   6801.76                  86
4       T001     2022.0   1.0       DAMA   6558.59                 104
...      ...        ...   ...        ...       ...                 ...
3875    T022     2022.0  10.0       NIÑA  30719.67                 384
3876    T022     2022.0  10.0       BEBE  26316.12                 522
3877    T022     2022.0  10.0       NIÑO  17523.84                 264
3878    T022     2022.0  10.0    JUVENIL   4303.40                  67
3879    T022     2022.0  10.0  CABALLERO  26621.50                 302

[3880 rows x 6 columns]

In [19]:
# 12
# proveedor_mas_venta
proveedor_mas_venta = pd.read_sql_query('''
SELECT proveedor, sum(subtotal) as ventas, count(producto) as productos_vendidos FROM aura.df
group by proveedor
order by ventas desc
''', engine)

proveedor_mas_venta.to_csv(r"C:\Users\mfduh\OneDrive\Documents\Deutschland\Arbeiten\Data Analyst\Jupyter excercises\Week 9 - Final Project\Created_queries\proveedor_mas_venta.csv", index=False)

proveedor_mas_venta

   proveedor        ventas  productos_vendidos
0       0037  1.223631e+07              164761
1       0008  1.220251e+07              240245
2       0102  7.904932e+06              194576
3       0002  6.950305e+06              115654
4      Other  5.559451e+06              101354
..       ...           ...                 ...
82      0187  1.758490e+03                  44
83      0113  1.560350e+03                  44
84      0127  9.301100e+02                  41
85      0164  3.189400e+02                  17
86      0136  1.293200e+02                   2

[87 rows x 3 columns]

In [21]:
# 13
# vendedor_mas_venta_total
vendedor_mas_venta_total = pd.read_sql_query('''
SELECT vendedor, sum(subtotal) as ventas, count(producto) as productos_vendidos FROM aura.df
group by vendedor
order by ventas desc
''', engine)

vendedor_mas_venta_total.to_csv(r"C:\Users\mfduh\OneDrive\Documents\Deutschland\Arbeiten\Data Analyst\Jupyter excercises\Week 9 - Final Project\Created_queries\vendedor_mas_venta_total.csv", index=False)

vendedor_mas_venta_total

     vendedor        ventas  productos_vendidos
0        66.0  4.358346e+06               66393
1       112.0  3.753211e+06               54020
2       116.0  3.318826e+06               53283
3       385.0  2.689610e+06               43977
4       131.0  2.674739e+06               50003
..        ...           ...                 ...
328     355.0  3.879000e+01                   1
329      83.0  3.451000e+01                   2
330     165.0  2.759000e+01                   1
331      81.0  1.983000e+01                   1
332     182.0  8.620000e+00                   1

[333 rows x 3 columns]

In [23]:
# 14
# top_10_vendedor_2021
top_10_vendedor_2021 = pd.read_sql_query('''
SELECT vendedor, sum(subtotal) as ventas_2021, count(producto) as productos_vendidos FROM aura.df
WHERE ejercicio = '2021'
group by vendedor
order by ventas_2021 desc
limit 10
''', engine)

top_10_vendedor_2021.to_csv(r"C:\Users\mfduh\OneDrive\Documents\Deutschland\Arbeiten\Data Analyst\Jupyter excercises\Week 9 - Final Project\Created_queries\top_10_vendedor_2021.csv", index=False)

top_10_vendedor_2021

   vendedor  ventas_2021  productos_vendidos
0      66.0   2322349.89               36580
1     112.0   2283773.53               33306
2     116.0   1972107.50               31995
3     131.0   1627529.83               30696
4     385.0   1452928.54               23445
5     187.0   1305267.31               28533
6       2.0   1288954.63               22259
7     463.0   1228478.15               18618
8     486.0   1186495.20               18691
9     183.0   1028199.45               19410

In [24]:
# 15
# top_10_vendedor_2022
top_10_vendedor_2022 = pd.read_sql_query('''
SELECT vendedor, sum(subtotal) as ventas_2021, count(producto) as productos_vendidos FROM aura.df
WHERE ejercicio = '2022'
group by vendedor
order by ventas_2021 desc
limit 10
''', engine)

top_10_vendedor_2022.to_csv(r"C:\Users\mfduh\OneDrive\Documents\Deutschland\Arbeiten\Data Analyst\Jupyter excercises\Week 9 - Final Project\Created_queries\top_10_vendedor_2022.csv", index=False)

top_10_vendedor_2022

   vendedor  ventas_2021  productos_vendidos
0      66.0   2035995.73               29813
1     479.0   1562200.03               26314
2     519.0   1505921.58               25659
3     495.0   1502401.11               30321
4     112.0   1469437.93               20714
5     116.0   1346718.20               21288
6     385.0   1236681.69               20532
7     486.0   1234135.50               19851
8     565.0   1221844.20               17802
9     452.0   1175732.38               21255

In [26]:
# 16
# pago_efectivo_por_tienda
pago_efectivo_por_tienda = pd.read_sql_query('''
SELECT almacen, ejercicio, count(tipo_pago) as pago_efectivo, sum(subtotal) as ventas, count(producto) as productos_vendidos FROM aura.df
WHERE tipo_pago = 'EF'
group by almacen, ejercicio, tipo_pago
order by ventas desc
''', engine)

pago_efectivo_por_tienda.to_csv(r"C:\Users\mfduh\OneDrive\Documents\Deutschland\Arbeiten\Data Analyst\Jupyter excercises\Week 9 - Final Project\Created_queries\pago_efectivo_por_tienda.csv", index=False)

pago_efectivo_por_tienda

   almacen  ejercicio  pago_efectivo        ventas  productos_vendidos
0     T003     2021.0         115923  6.952174e+06              115923
1     T003     2022.0          88580  5.236022e+06               88580
2     T007     2021.0          84367  5.075225e+06               84367
3     T007     2022.0          63461  4.018938e+06               63461
4     T016     2021.0          81020  4.010728e+06               81020
5     T016     2022.0          65852  3.798086e+06               65852
6     T015     2021.0          76603  3.578040e+06               76603
7     T006     2021.0          53134  3.445482e+06               53134
8     T013     2021.0          49955  3.327859e+06               49955
9     T006     2022.0          47448  3.245405e+06               47448
10    T015     2022.0          64736  3.135797e+06               64736
11    T008     2021.0          44791  2.845113e+06               44791
12    T011     2021.0          39415  2.494276e+06               39415
13    T013     2022.0          33792  2.274731e+06               33792
14    T008     2022.0          32072  2.172537e+06               32072
15    T011     2022.0          32442  2.063245e+06               32442
16    T019     2021.0          35611  2.047113e+06               35611
17    T018     2022.0          28787  1.666229e+06               28787
18    T014     2021.0          25689  1.569885e+06               25689
19    T017     2021.0          29602  1.417648e+06               29602
20    T009     2021.0          18194  1.363287e+06               18194
21    T019     2022.0          23714  1.322602e+06               23714
22    T014     2022.0          21918  1.294592e+06               21918
23    T017     2022.0          22004  1.286539e+06               22004
24    T012     2021.0          19416  1.250387e+06               19416
25    T012     2022.0          21134  1.168669e+06               21134
26    T005     2021.0          21182  1.096721e+06               21182
27    T009     2022.0          12720  1.093603e+06               12720
28    T002     2021.0          12448  1.088010e+06               12448
29    T005     2022.0          17186  9.193116e+05               17186
30    T004     2022.0           3367  8.694515e+05                3367
31    T022     2022.0          13508  8.360942e+05               13508
32    T010     2021.0          12467  8.168408e+05               12467
33    T021     2022.0          11125  8.113874e+05               11125
34    T002     2022.0           9470  8.050162e+05                9470
35    T020     2021.0          16542  7.928789e+05               16542
36    T018     2021.0          17007  7.315655e+05               17007
37    T020     2022.0          12223  7.217419e+05               12223
38    T001     2021.0           8206  6.623493e+05                8206
39    T001     2022.0           8570  6.166782e+05                8570
40    T010     2022.0           8876  5.809759e+05                8876
41    T021     2021.0           6778  5.441850e+05                6778
42    T004     2021.0           1702  2.947177e+05                1702

In [27]:
# 17
# pago_tarjeta_por_tienda
pago_tarjeta_por_tienda = pd.read_sql_query('''
SELECT almacen, ejercicio, count(tipo_pago) as pago_tarjeta, sum(subtotal) as ventas, count(producto) as productos_vendidos FROM aura.df
WHERE tipo_pago = 'TA'
group by almacen, ejercicio, tipo_pago
order by ventas desc
''', engine)

pago_tarjeta_por_tienda.to_csv(r"C:\Users\mfduh\OneDrive\Documents\Deutschland\Arbeiten\Data Analyst\Jupyter excercises\Week 9 - Final Project\Created_queries\pago_tarjeta_por_tienda.csv", index=False)

pago_tarjeta_por_tienda

   almacen  ejercicio  pago_tarjeta     ventas  productos_vendidos
0     T011     2021.0          7067  522531.39                7067
1     T006     2021.0          6244  465120.74                6244
2     T011     2022.0          6761  456193.07                6761
3     T003     2021.0          6799  438692.31                6799
4     T003     2022.0          7075  437198.21                7075
5     T008     2021.0          5595  411869.36                5595
6     T007     2022.0          5634  394269.33                5634
7     T007     2021.0          5418  362305.24                5418
8     T008     2022.0          4465  328232.30                4465
9     T015     2022.0          5706  319398.24                5706
10    T012     2022.0          5075  306340.25                5075
11    T012     2021.0          3865  278207.11                3865
12    T019     2021.0          4091  250264.15                4091
13    T006     2022.0          2873  209860.30                2873
14    T014     2022.0          3009  202277.20                3009
15    T005     2022.0          3428  200946.07                3428
16    T005     2021.0          3541  197495.87                3541
17    T014     2021.0          2602  190805.21                2602
18    T013     2022.0          2519  183781.06                2519
19    T019     2022.0          2442  149862.24                2442
20    T020     2022.0          2176  146068.35                2176
21    T015     2021.0          2501  126304.13                2501
22    T010     2021.0          1449  109313.89                1449
23    T010     2022.0          1322  101276.00                1322
24    T021     2022.0          1143   94090.39                1143
25    T020     2021.0          1582   93381.42                1582
26    T018     2021.0          1890   92059.10                1890
27    T022     2022.0          1035   76698.95                1035
28    T018     2022.0          1321   72665.91                1321
29    T016     2022.0          1225   68628.49                1225
30    T013     2021.0           801   61822.94                 801
31    T016     2021.0          1109   54112.12                1109
32    T009     2021.0           637   50040.22                 637
33    T021     2021.0           501   49329.59                 501
34    T001     2021.0           367   32454.90                 367
35    T001     2022.0           338   25743.23                 338
36    T009     2022.0           150   13466.42                 150
37    T002     2022.0            45    2400.79                  45
38    T002     2021.0             2     170.69                   2

In [27]:
# 00
# light_version_per_product
light_version_per_product = pd.read_sql_query('''
SELECT almacen as store, ejercicio as year, mes as month, linea as c_line, seccion as section, modelo as model, 
	grupo as 'group', subgrupo as subgroup, producto as product, vendedor as sales_person, lista as 'list', proveedor as supplier, cantidad as units, 
    descuento as discount, sum(costo) as cost, sum(subtotal) as price, (sum(subtotal)-sum(costo)) as profit
	FROM aura.df
group by almacen, ejercicio, mes, product
''', engine)

light_version_per_product.to_csv(r"C:\Users\mfduh\OneDrive\Documents\Deutschland\Arbeiten\Data Analyst\Jupyter excercises\Week 9 - Final Project\Created_queries\light_version_per_product.csv", index=False)

light_version_per_product

,store,year,month,c_line,section,model,group,subgroup,product,sales_person,list,supplier,units,discount,cost,price,profit
0,T012,2021.0,4.0,BEBE,UNISEX,TELA,ALMOHADA,LINEA,3.0,406.0,AGUASCALIENTES,0008,1.0,0.0,14.65517,25.86,11.20483
1,T013,2021.0,4.0,BEBE,UNISEX,TELA,ALMOHADA,LINEA,3.0,463.0,AGUASCALIENTES,0008,1.0,0.0,14.65517,25.86,11.20483
2,T003,2021.0,4.0,BEBE,UNISEX,VELOUR,ALMOHADA,LINEA,5.0,461.0,AGUASCALIENTES,0129,1.0,0.0,303.44831,437.94,134.49169
3,T005,2021.0,4.0,BEBE,UNISEX,VELOUR,ALMOHADA,LINEA,5.0,466.0,AGUASCALIENTES,0129,1.0,0.0,82.75863,124.14,41.38137
4,T007,2021.0,4.0,BEBE,UNISEX,VELOUR,ALMOHADA,LINEA,5.0,417.0,AGUASCALIENTES,0129,1.0,0.0,27.58621,41.38,13.79379
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215468,T017,2022.0,9.0,DAMA,VERANO,ALGODÓN,BLUSA,LINEA,4293.0,590.0,AGUASCALIENTES,0191,1.0,0.0,26.78570,43.10,16.31430
215469,T003,2022.0,9.0,CABALLERO,VERANO,ALGODÓN,SHORT,LINEA,4298.0,571.0,AGUASCALIENTES,0189,1.0,0.0,186.22950,258.63,72.40050
215470,T001,2022.0,9.0,DAMA,INVIERNO,FLANEL,PIJAMA,LINEA,4302.0,602.0,MAYOREO,0037,1.0,0.0,175.86510,284.49,108.62490
215471,T019,2022.0,9.0,DAMA,INVIERNO,FLANEL,PIJAMA,LINEA,4302.0,608.0,AGUASCALIENTES,0037,1.0,0.0,117.24340,206.90,89.65660
215472,T022,2022.0,9.0,DAMA,INVIERNO,FLANEL,PIJAMA,LINEA,4302.0,606.0,AGUASCALIENTES,0037,1.0,0.0,58.62170,103.45,44.82830

In [23]:
# 001 light_version_per_product2
light_version_per_product2 = pd.read_sql_query('''
SELECT almacen as store, ejercicio as year, mes as month, linea as c_line, seccion as section, modelo as model, 
grupo as 'group', subgrupo as subgroup, producto as product, vendedor as sales_person, lista as 'list', proveedor as supplier, cantidad as units,
descuento as discount, sum(costo) as cost, sum(subtotal) as price, (sum(subtotal)-sum(costo)) as profit
FROM aura.df
WHERE lista = 'AGUASCALIENTES'
group by almacen, ejercicio, mes, product
''', engine)

light_version_per_product2.to_csv(r"C:\Users\mfduh\OneDrive\Documents\Deutschland\Arbeiten\Data Analyst\Jupyter excercises\Week 9 - Final Project\Created_queries\light_version_per_product2.csv", index=False)

light_version_per_product2
#202184

,store,year,month,c_line,section,model,group,subgroup,product,sales_person,list,supplier,units,discount,cost,price,profit
0,T012,2021.0,4.0,BEBE,UNISEX,TELA,ALMOHADA,LINEA,3.0,406.0,AGUASCALIENTES,0008,1.0,0.0,14.65517,25.86,11.20483
1,T013,2021.0,4.0,BEBE,UNISEX,TELA,ALMOHADA,LINEA,3.0,463.0,AGUASCALIENTES,0008,1.0,0.0,14.65517,25.86,11.20483
2,T003,2021.0,4.0,BEBE,UNISEX,VELOUR,ALMOHADA,LINEA,5.0,461.0,AGUASCALIENTES,0129,1.0,0.0,193.10347,289.66,96.55653
3,T005,2021.0,4.0,BEBE,UNISEX,VELOUR,ALMOHADA,LINEA,5.0,466.0,AGUASCALIENTES,0129,1.0,0.0,82.75863,124.14,41.38137
4,T007,2021.0,4.0,BEBE,UNISEX,VELOUR,ALMOHADA,LINEA,5.0,417.0,AGUASCALIENTES,0129,1.0,0.0,27.58621,41.38,13.79379
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202179,T020,2022.0,9.0,DAMA,INTERIOR,POLIESTER/LIKRA,PANTIMEDIA,LINEA,4291.0,503.0,AGUASCALIENTES,Other,1.0,0.0,56.03450,94.14,38.10550
202180,T017,2022.0,9.0,DAMA,VERANO,ALGODÓN,BLUSA,LINEA,4293.0,590.0,AGUASCALIENTES,0191,1.0,0.0,26.78570,43.10,16.31430
202181,T003,2022.0,9.0,CABALLERO,VERANO,ALGODÓN,SHORT,LINEA,4298.0,571.0,AGUASCALIENTES,0189,1.0,0.0,186.22950,258.63,72.40050
202182,T019,2022.0,9.0,DAMA,INVIERNO,FLANEL,PIJAMA,LINEA,4302.0,608.0,AGUASCALIENTES,0037,1.0,0.0,117.24340,206.90,89.65660
202183,T022,2022.0,9.0,DAMA,INVIERNO,FLANEL,PIJAMA,LINEA,4302.0,606.0,AGUASCALIENTES,0037,1.0,0.0,58.62170,103.45,44.82830

In [24]:
# 3 checking different options to make the ML model work with my computer´s capacity
# 001 forty_thou
forty_thou = pd.read_sql_query('''
SELECT almacen as store, ejercicio as year, mes as month, linea as c_line, seccion as section, modelo as model, 
grupo as 'group', subgrupo as subgroup, producto as product, vendedor as sales_person, lista as 'list', proveedor as supplier, cantidad as units,
descuento as discount, sum(costo) as cost, sum(subtotal) as price, (sum(subtotal)-sum(costo)) as profit
FROM aura.df
WHERE lista = 'AGUASCALIENTES'
group by almacen, ejercicio, mes, linea, subgrupo, modelo
''', engine)

forty_thou.to_csv(r"C:\Users\mfduh\OneDrive\Documents\Deutschland\Arbeiten\Data Analyst\Jupyter excercises\Week 9 - Final Project\Created_queries\forty_thou.csv", index=False)

forty_thou
#39,964

,store,year,month,c_line,section,model,group,subgroup,product,sales_person,list,supplier,units,discount,cost,price,profit
0,T012,2021.0,4.0,BEBE,UNISEX,TELA,ALMOHADA,LINEA,3.0,406.0,AGUASCALIENTES,0008,1.0,0.00,1331.45395,2285.41,953.95605
1,T013,2021.0,4.0,BEBE,UNISEX,TELA,ALMOHADA,LINEA,3.0,463.0,AGUASCALIENTES,0008,1.0,0.00,3149.05173,5465.68,2316.62827
2,T003,2021.0,4.0,BEBE,UNISEX,VELOUR,ALMOHADA,LINEA,5.0,461.0,AGUASCALIENTES,0129,1.0,0.00,1212.06886,1824.19,612.12114
3,T005,2021.0,4.0,BEBE,UNISEX,VELOUR,ALMOHADA,LINEA,5.0,466.0,AGUASCALIENTES,0129,1.0,0.00,493.96550,753.47,259.50450
4,T007,2021.0,4.0,BEBE,UNISEX,VELOUR,ALMOHADA,LINEA,5.0,417.0,AGUASCALIENTES,0129,1.0,0.00,669.82749,1050.02,380.19251
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39959,T014,2022.0,9.0,BLANCOS,UNISEX,ALGODÓN,CUBREBOCAS,PROMOCION,4226.0,385.0,AGUASCALIENTES,0037,1.0,0.00,8.62060,17.24,8.61940
39960,T017,2022.0,9.0,BLANCOS,UNISEX,ALGODÓN,CUBREBOCAS,PROMOCION,4226.0,463.0,AGUASCALIENTES,0037,1.0,0.00,4.31030,8.62,4.30970
39961,T018,2022.0,9.0,CABALLERO,INTERIOR,ALGODÓN/LIKRA,BOXER,LINEA,4239.0,131.0,AGUASCALIENTES,0102,6.0,51.72,134.29080,155.17,20.87920
39962,T011,2022.0,9.0,NIÑA,FEMENINO,ALGODÓN/POLIESTER,MALLA,LEGGING,4290.0,116.0,AGUASCALIENTES,0126,2.0,32.76,73.65160,86.21,12.55840
39963,T013,2022.0,9.0,NIÑA,FEMENINO,ALGODÓN/POLIESTER,MALLA,LEGGING,4290.0,565.0,AGUASCALIENTES,0126,2.0,32.76,75.02280,86.21,11.18720

In [26]:
# 3 checking different options to make the ML model work with my computer´s capacity
# 001 light_version_per_product4
light_version_per_product4 = pd.read_sql_query('''
SELECT almacen as store, ejercicio as year, mes as month, linea as c_line, seccion as section, modelo as model, 
grupo as 'group', subgrupo as subgroup, producto as product, vendedor as sales_person, lista as 'list', proveedor as supplier, cantidad as units,
descuento as discount, sum(costo) as cost, sum(subtotal) as price, (sum(subtotal)-sum(costo)) as profit
FROM aura.df
WHERE lista = 'AGUASCALIENTES'
group by almacen, ejercicio, mes, linea, subgrupo, modelo, seccion
''', engine)

light_version_per_product4.to_csv(r"C:\Users\mfduh\OneDrive\Documents\Deutschland\Arbeiten\Data Analyst\Jupyter excercises\Week 9 - Final Project\Created_queries\light_version_per_product4.csv", index=False)

light_version_per_product4
#59,455

,store,year,month,c_line,section,model,group,subgroup,product,sales_person,list,supplier,units,discount,cost,price,profit
0,T012,2021.0,4.0,BEBE,UNISEX,TELA,ALMOHADA,LINEA,3.0,406.0,AGUASCALIENTES,0008,1.0,0.00,215.07465,384.52,169.44535
1,T013,2021.0,4.0,BEBE,UNISEX,TELA,ALMOHADA,LINEA,3.0,463.0,AGUASCALIENTES,0008,1.0,0.00,436.98273,791.50,354.51727
2,T003,2021.0,4.0,BEBE,UNISEX,VELOUR,ALMOHADA,LINEA,5.0,461.0,AGUASCALIENTES,0129,1.0,0.00,292.24129,487.92,195.67871
3,T005,2021.0,4.0,BEBE,UNISEX,VELOUR,ALMOHADA,LINEA,5.0,466.0,AGUASCALIENTES,0129,1.0,0.00,95.68965,150.00,54.31035
4,T007,2021.0,4.0,BEBE,UNISEX,VELOUR,ALMOHADA,LINEA,5.0,417.0,AGUASCALIENTES,0129,1.0,0.00,100.86199,187.92,87.05801
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59450,T020,2022.0,9.0,UNISEX,INVIERNO,ALGODÓN,PLAYERA,LINEA,4274.0,478.0,AGUASCALIENTES,0179,2.0,0.00,28.95720,60.34,31.38280
59451,T007,2022.0,9.0,DAMA,SIN GENERO,ALGODÓN,BLUSA,LINEA,4280.0,613.0,AGUASCALIENTES,0191,1.0,0.00,30.17240,51.72,21.54760
59452,T011,2022.0,9.0,NIÑA,FEMENINO,ALGODÓN/POLIESTER,MALLA,LEGGING,4290.0,116.0,AGUASCALIENTES,0126,2.0,32.76,73.65160,86.21,12.55840
59453,T013,2022.0,9.0,NIÑA,FEMENINO,ALGODÓN/POLIESTER,MALLA,LEGGING,4290.0,565.0,AGUASCALIENTES,0126,2.0,32.76,75.02280,86.21,11.18720
59454,T017,2022.0,9.0,DAMA,VERANO,ALGODÓN,BLUSA,LINEA,4293.0,590.0,AGUASCALIENTES,0191,1.0,0.00,26.78570,43.10,16.31430

In [25]:
# 3 checking different options to make the ML model work with my computer´s capacity
# 000 lighter_version_per_line
lighter_version_per_line = pd.read_sql_query('''
SELECT almacen as store, ejercicio as year, mes as month, linea as c_line, producto as product, seccion as section,
	modelo as model, grupo as 'group', subgrupo as subgroup, vendedor as sales_person, lista as 'list', proveedor as supplier, cantidad as units, 
    descuento as discount, sum(costo) as cost, sum(subtotal) as price
	FROM aura.df
group by almacen, ejercicio, mes, linea
''', engine)

lighter_version_per_line.to_csv(r"C:\Users\mfduh\OneDrive\Documents\Deutschland\Arbeiten\Data Analyst\Jupyter excercises\Week 9 - Final Project\Created_queries\lighter_version_per_line.csv", index=False)

lighter_version_per_line

,store,year,month,c_line,product,section,model,group,subgroup,sales_person,list,supplier,units,discount,cost,price
0,T012,2021.0,4.0,BEBE,3.0,UNISEX,TELA,ALMOHADA,LINEA,406.0,AGUASCALIENTES,0008,1.0,0.0,31025.50629,48820.27
1,T013,2021.0,4.0,BEBE,3.0,UNISEX,TELA,ALMOHADA,LINEA,463.0,AGUASCALIENTES,0008,1.0,0.0,63764.45197,102511.54
2,T003,2021.0,4.0,BEBE,5.0,UNISEX,VELOUR,ALMOHADA,LINEA,461.0,AGUASCALIENTES,0129,1.0,0.0,81865.53266,132220.48
3,T005,2021.0,4.0,BEBE,5.0,UNISEX,VELOUR,ALMOHADA,LINEA,466.0,AGUASCALIENTES,0129,1.0,0.0,16711.83879,26860.97
4,T007,2021.0,4.0,BEBE,5.0,UNISEX,VELOUR,ALMOHADA,LINEA,417.0,AGUASCALIENTES,0129,1.0,0.0,64438.52768,102311.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3875,T022,2022.0,9.0,BLANCOS,1841.0,UNISEX,TOALLA,TOALLA,LINEA,606.0,AGUASCALIENTES,0102,1.0,0.0,306.93100,495.68
3876,T021,2022.0,9.0,BASICOS,2180.0,SIN GENERO,PLASTICO,GANCHO,LINEA,616.0,AGUASCALIENTES,Other,36.0,0.0,34.34400,34.48
3877,T021,2022.0,9.0,DEFAULT,2806.0,INVIERNO,FELPA,CONJUNTO PANTS,LINEA,616.0,AGUASCALIENTES,0014,1.0,0.0,129.31030,129.31
3878,T003,2022.0,9.0,BLANCOS,4226.0,UNISEX,ALGODÓN,CUBREBOCAS,PROMOCION,588.0,AGUASCALIENTES,0037,1.0,0.0,4.31030,8.62
3879,T012,2022.0,9.0,BLANCOS,4226.0,UNISEX,ALGODÓN,CUBREBOCAS,PROMOCION,506.0,AGUASCALIENTES,0037,1.0,0.0,4.31030,8.62